.Button {
    width: 72px;
    height: 19px;
    background: #57EFDD;
    border-radius: 5px;
    font-family: IRSansBold;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}

.errTheme {
    background: #FF5050;
}