.SearchWrapper {
    position: relative;
    height: 48px;
    width: 100%;
    align-items: center;
    display: flex;
    input {
        width: calc(100% - 40px);
        height: 100%;
        border: none;
        top: 16px;
        padding: 0 40px 0 0;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        border-radius: 9px;
        &::placeholder {
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            display: flex;
            align-items: center;
            text-align: right;
            letter-spacing: 0.005em;
            color: #5F5F5F;
        }
    }
    svg {
        margin-right: 10px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}